.topbar{
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
    font-weight: 900; 
}

.topbar a{
    text-decoration: none;
    color: black;
}

.name{
   letter-spacing: 3px;
   text-align: center;
}

.image{
    height: 300px;
    display: flex;
    justify-content: center;
}

.border{
    border: 5px solid white;
    width: 350px;
    margin: 5px;
}

.links{
    color: black;
}

.resum{
    margin-left: 25%;
}

div.me{
    margin-left: 60%;
    color: black;
    text-align: left;
}

.about{
    width: 300px;
    height: auto;
    float: left;
    padding-left: 15%;
}

.frame{
    justify-content: center;
}

.projectDescription{
    width: 300px;
    height: auto;
    float: left;
    padding-left: 20%;
}

.projectEx{
    text-align: center;
    margin-right: 15%;
}

.projectFrame{
    justify-content: center;
}
